.searchContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    color: #dbdbdb;
    right: 0;
    top: 0;
    cursor: text;
    height: 100%;
    border: none;
    background: none;
}

.searchInput {
    font-size: 1.2rem;
    height: 30px;
    padding: 5px 30px 5px 10px;
}